html,
body {
  background-color: #282c33;
  font-family: "Fira Code", sans-serif;
  position: relative;
}
.wrapper {
  max-width: 1027px;
  margin: auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 32px 0px 8px;
  white-space: nowrap;
  margin-left: 48px;
}
@media (min-width: 1100px) {
  .header {
    margin-left: 0;
  }
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-item {
  margin-left: 32px;
  color: #abb2bf;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.nav-item:first-child {
  color: #ffffff;
  font-weight: 500;
}
.nav-item:last-child {
  font-weight: 600;
}
.okto {
  color: #c778dd;
}
.media {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 32px;
  height: 311px;
  margin-left: 17px;
  gap: 8px;
  align-items: center;
}
.aside-line {
  height: 191px;
  width: 2px;
  margin-left: 1.5px;
}
.mediaic {
  transition: 0.3s;
}
.mediaic:hover {
  transform: scale(1.05);
}
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
  max-height: 423px;
}
.topdesc {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 74px;
}
.purptext {
  color: #c778dd;
}
.footdesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #abb2bf;
  margin-bottom: 32px;
}
.herobut {
  padding: 8px 16px;
  gap: 10px;
  border: 1px solid #c778dd;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.heror{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.herobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 10px;
  border: 1px solid #abb2bf;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #abb2bf;
  max-width: 402px;
  margin-left: 31px;
}
.whitext{
  color: #ffffff;
}
