html, body {
  background-color: #282C33;
  font-family: "Fira Code", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1366px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-weight: 500;
  line-height: 21px;
  padding: 8px 16px;
  color: #FFFFFF;
  border: 1px solid #C778DD;
  white-space: nowrap;
  transition: all .3s;
}

.button:hover {
  transform: scale(1.05);
}

.okto {
  color: #C778DD;
}

.logo {}


/* ---------------------------- */

.header {}

.header__top {
  margin-bottom: 62px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 8px;
}

.header__logo {
  margin-right: 509px;
  transition: all .3s;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-left: 32px;
  font-size: 16px;
  font-weight: 400;
  color: #ABB2BF;
  line-height: 21px;
  white-space: nowrap;
}

.header__nav-item:first-child {
  margin-left: 0;
  font-weight: 500;
  color: #FFFFFF;
}

.header__nav-item:last-child {
  font-weight: 600;
}

.header__nav-link {
  transition: all .3s;
}

.header__nav-link:hover {
  color: #FFFFFF;
}

.header__nav-lang {
  position: relative;
  padding-right: 4px;
  width: 34px;
}

.header__nav-lang::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  display: block;
  background: url("../images/down-arrow.svg") no-repeat;
  width: 10px;
  height: 7px;
}

.header__body {}


/* ---------------------------- */

.header__body {}

.header__body-inner {
  left: 171px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  margin-right: 30px;
}

.header__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  max-width: 537px;
  max-height: 84px;
  margin-bottom: 32px;
}

.header__description {
  color: #ABB2BF;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  max-width: 463px;
  max-height: 50px;
  margin-bottom: 32px;
}

.button {}

.header__img {
  z-index: 2;
}

.header__img-decorl {
  position: absolute;
  right: 317px;
}

.header__img-decord {
  position: absolute;
  z-index: 3;
  right: 19px;
  top: 248px
}

.header__bottom {}